header {
    background-color: rgb(79, 119, 146);
    padding: 10px;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

.home-icon {
    display: inline;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.navBar {
    margin-top: 3px;
    margin-right: 20px;
    text-align: center;
}

.navBar-item {
    transition: 0.4s;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 7px;
}

.navBar-item:hover {
    background-color: rgb(85, 104, 117);
    color: aliceblue;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale3D(1, 1, 1);
    }

    50% {
        transform: scale3D(1.1, 1.1, 1.1);
    }

    100% {
        transform: scale3D(1, 1, 1);
    }
}

.webName {
    font-weight: bold;
    animation: pulse 1.5s;
    animation-delay: 3s;
    display: inline-block;
}

body {
    background-color: rgb(67, 101, 124);
    margin: 0px;
}

.intro {
    text-align: center;
    margin-top: 10%;
}

.intro-topic {
    font-size: 300%;
    margin-bottom: 50px;
    opacity: 0;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

.intro-content-1 {
    font-size: 150%;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.intro-content-2 {
    font-size: 200%;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}